/.env
/.idea
/vendor
.DS_Store
/.env
/.env.example.dev
/.env.example.production
/.env.example.staging
/.idea
/vendor
.DS_Store
/node_modules
/.ddev 
/db_backups
/web/uploads
/web/cpresources
/db_backups
/.ssh
/.webhosting
/cgi-bin
/.bash_history
/.bashrc
/.local
/logs
/web/imager
/scripts
/checklist
/CLAUDE.md
/.github/secrets.env
/.github/deploy-key