{% set text = section.ckeSimple %}
{% set link1 = section.linkField %}
{% set link2 = section.linkField2 %}

<section class="section section-nmt bg-black text-white">
    <div class="container container-grid py-md md:py-2xl relative">
        {% include "_components/title" with { title: section.title, extraClass: "md:mb-xl col-start-1 col-span-8 xl:col-span-6 relative z-1" } %}
        {% if text or link1 or link2 %}
            <div class="md:col-start-2 xl:col-start-2 col-span-6 xl:col-span-4 z-1">
                {% if text %}
                    <div class="max-w-20">{{ text }}</div>
                {% endif %}
                {% if link1 or link2 %}
                    <div class="flex flex-row flex-wrap gap-xs mt-md">
                        {% if link1 %}
                            {% include "_components/link" with { linkField: link1, btnStyle: true, withArrow: true } %}
                        {% endif %}
                        {% if link2 %}
                            {% include "_components/link" with { linkField: link1, btnStyle: true, withArrow: true, btnType: 'sec' } %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {{ svg('assets/icons/logo-visual.svg')|attr({class: 'absolute bottom-[10%] lg:top-[50%] lg:-translate-y-[50%] -right-[75%] md:-right-[50%] lg:right-0 h-auto w-[160%] md:w-[130%] lg:w-[50%] text-prim z-0'}) }}
    </div>
</section>