<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% include "_partials/favicons" %}
        {% include "_partials/styles" %}
	</head>
	<body class="{{ entry is defined and entry ? entry.slug ~ '-' ~ entry.id }}">
		{% block header %}
			{% include "_partials/header" %}
		{% endblock %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% block footer %}
			{% include "_partials/footer" %}
		{% endblock %}

		{% include "_partials/scripts" %}
	</body>
</html>
