{% set title = title ?? null %}
{% set extraClass = extraClass ?? null %}

{% if index is same as 1 %}
    <h1 class="{{ extraClass }}">{{ title }}</h1>
{% else %}
    <h2 class="{{ extraClass }}">{{ title }}</h2>
{% endif %}