<section class="section {{ loop.index is same as 1 ? 'section-top' }}">
	<div class="container">
        {% include "_components/title" with { title: section.title } %}
        <div>
            
        </div>
	</div>
</section>